[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503, F403
exclude =
    venv,
    .venv,
    __pycache__,
    .git,
    */migrations/*
per-file-ignores =
    apps/core/management/commands/populate_history.py:E501
    apps/core/management/commands/populate_mission.py:E501
    apps/users/tests.py:E501
    apps/core/tests.py:E501
